<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Historia Clínica - ARAMEDIC</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link href="<%= link %>dashboard_med/css/styles-historia_clinica.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="layout">
        <div class="header-text">
            <h1><span class="highlight">ARA</span>MEDIC</h1>
        </div>
        <div class="main-content">
            <div class="container">
                <h2 class="title">Perfil de Historia Clínica del Paciente</h2>
                <p>Completa la información del paciente:</p>
                <form id="patientForm" method="get">
                    <!-- Información Personal -->
                    <h3>Información Personal</h3>
                    <div class="form-group">
                        <label for="fullName">Nombre del paciente:</label>
                        <input type="text" id="fullName" name="fullName" placeholder="Ingresa nombres y apellidos" value="<%= paciente.nombre_paciente %>" required>
                    </div>
                    <div class="form-group">
                        <label for="fullName">Apellido del paciente:</label>
                        <input type="text" id="fullName" name="fullName" placeholder="Ingresa nombres y apellidos" value="<%= paciente.apellido_paciente %>" required>
                    </div>
                    <div class="form-group">
                        <label for="fullName">Nombre del medico:</label>
                        <input type="text" id="fullName" name="fullName" placeholder="Ingresa nombres y apellidos" value="<%= paciente.nombre_medico %>" required>
                    </div>
                    <div class="form-group">
                        <label for="age">Fecha:</label>
                        <input type="datetime" id="age" name="age" placeholder="Ingresa tu edad" value="<%= paciente.fecha %>" required>
                    </div>
                    <div class="form-group">
                        <label for="gender">Género:</label>
                        <select id="gender" name="gender" required>
                            <option value="">Selecciona tu género</option>
                            <option value="0" <%= paciente.genero === 0 ? 'selected' : '' %>>Masculino</option>
                            <option value="1" <%= paciente.genero === 1 ? 'selected' : '' %>>Femenino</option>
                            <option value="2" <%= paciente.genero === 2 ? 'selected' : '' %>>Otro</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="maritalStatus">Estado Civil:</label>
                        <select id="maritalStatus" name="maritalStatus" required>
                            <option value="0" <%= paciente.estado_civil === 0 ? 'selected' : '' %>>Soltero</option>
                            <option value="1" <%= paciente.estado_civil === 1 ? 'selected' : '' %>>Casado</option>
                            <option value="2" <%= paciente.estado_civil === 2 ? 'selected' : '' %>>Divorciado</option>
                            <option value="3" <%= paciente.estado_civil === 3 ? 'selected' : '' %>>Viudo</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="occupation">Observaciones:</label>
                        <input type="text" id="occupation" name="occupation" placeholder="Ingresa tu ocupación" value="<%= paciente.ocupacion %>" required>
                    </div>
                    <div class="form-group">
                        <label for="phone">Teléfono:</label>
                        <input type="tel" id="phone" name="phone" placeholder="Ingresa tu teléfono" value="<%= paciente.telefono %>" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Diagnostico:</label>
                        <input type="email" id="email" name="email" placeholder="Ingresa tu correo electrónico" value="<%= paciente.correo %>" required>
                    </div>
                    <div class="form-group">
                        <label for="address">Dirección:</label>
                        <input type="text" id="address" name="address" placeholder="Ingresa tu dirección" value="<%= paciente.direccion %>" required>
                    </div>

                    <!-- Motivo de Consulta -->
                    <h3>Motivo de Consulta</h3>
                    <div class="form-group">
                        <label for="mainReason">Motivo Principal:</label>
                        <input type="text" id="mainReason" name="mainReason" placeholder="Ingresa el motivo principal de consulta" value="<%= paciente.motivo_principal %>" required>
                    </div>

                    <!-- Antecedentes Médicos Personales -->
                    <h3>Antecedentes Médicos Personales</h3>
                    <div class="form-group">
                        <label for="previousDiseases">Enfermedades previas:</label>
                        <textarea id="previousDiseases" name="previousDiseases" required><%= paciente.enfermedades_previas %></textarea>
                    </div>
                    <div class="form-group">
                        <label for="allergies">Alergias:</label>
                        <textarea id="allergies" name="allergies" required><%= paciente.alergia %></textarea>
                    </div>
                    <div class="form-group">
                        <label for="medications">Medicamentos actuales:</label>
                        <textarea id="medications" name="medications" required><%= paciente.medicamentos_actuales %></textarea>
                    </div>
                    <div class="form-group">
                        <label for="previousSurgeries">Cirugías previas:</label>
                        <textarea id="previousSurgeries" name="previousSurgeries" required><%= paciente.cirugias_previas %></textarea>
                    </div>
                    <div class="form-group">
                        <label for="smoke">¿Fuma?:</label>
                        <select id="smoke" name="smoke" required>
                            <option value="0" <%= paciente.fuma === 0 ? 'selected' : '' %>>No</option>
                            <option value="1" <%= paciente.fuma === 1 ? 'selected' : '' %>>Sí</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="alcohol">¿Consume alcohol?:</label>
                        <select id="alcohol" name="alcohol" required>
                            <option value="0" <%= paciente.consume_alcohol === 0 ? 'selected' : '' %>>No</option>
                            <option value="1" <%= paciente.consume_alcohol === 1 ? 'selected' : '' %>>Sí</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="hereditaryDiseases">Enfermedades hereditarias:</label>
                        <textarea id="hereditaryDiseases" name="hereditaryDiseases" required><%= paciente.enfermedades_hereditarias %></textarea>
                    </div>

                    <!-- Evaluación Física -->
                    <h3>Evaluación Física</h3>
                    <div class="form-group">
                        <label for="weight">Peso (kg):</label>
                        <input type="number" id="weight" name="weight" value="<%= paciente.peso %>" required>
                    </div>
                    <div class="form-group">
                        <label for="height">Altura (cm):</label>
                        <input type="number" id="height" name="height" value="<%= paciente.altura %>" required>
                    </div>
                    <div class="form-group">
                        <label for="bmi">Índice de Masa Corporal (IMC):</label>
                        <input type="number" id="bmi" name="bmi" step="0.1" value="<%= paciente.indice_de_masa_corporal_mic	%>" required>
                    </div>
                    <div class="form-group">
                        <label for="physicalDescription">Descripción física:</label>
                        <textarea id="physicalDescription" name="physicalDescription" required><%= paciente.descripcion %></textarea>
                    </div>

                    <!-- Plan de Tratamiento -->
                    <h3>Plan de Tratamiento</h3>
                    <div class="form-group">
                        <label for="surgery">Cirugía:</label>
                        <input type="text" id="surgery" name="surgery" value="<%= paciente.cirugia %>" required>
                    </div>
                    <div class="form-group">
                        <label for="procedureDescription">Descripción del procedimiento:</label>
                        <textarea id="procedureDescription" name="procedureDescription" required><%= paciente.descripcion_del_procedimiento	 %></textarea>
                    </div>
                    <div class="form-group">
                        <label for="risks">Riesgos y complicaciones:</label>
                        <textarea id="risks" name="risks" required><%= paciente.riesgos_y_complicaciones %></textarea>
                    </div>
                    <div class="form-group">
                        <label for="preCare">Cuidado preoperatorio:</label>
                        <textarea id="preCare" name="preCare" required><%= paciente.cuidado_preoperatorio %></textarea>
                    </div>
                    <div class="form-group">
                        <label for="postCare">Cuidado postoperatorio:</label>
                        <textarea id="postCare" name="postCare" required><%= paciente.cuidado_postoperatorio %></textarea>
                    </div>

                    <!-- Botón para regresar -->
                    <div class="form-group button-field">
                        <button type="menu" class="return">Regresar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>
